{{- block "content" . -}}
<form hx-post="/auth/login" hx-swap="none">
  <div class="flex flex-col gap-2 p-4" hx-include="this">
    <div>
      <input required type="email" name="email" class="border border-black" />
    </div>
    <div>
      <input
        required
        type="password"
        name="password"
        class="border border-black"
      />
    </div>
  </div>
  <button type="submit" class="border border-black">Login</button>
</form>
<div
  class="hidden"
  hx-get="/"
  hx-replace-url="true"
  hx-trigger="redirect-to-account from:body"
  hx-target="body"
></div>
{{- end -}}
